Flask
Bootstrap_Flask==2.2.0
Flask_CKEditor==0.4.6
Flask_Login
Flask-Gravatar==0.5.0
flask_sqlalchemy==3.0.5
Flask_WTF==1.1.1
Werkzeug==2.2.3
WTForms==3.0.1
SQLAlchemy==2.0.19
psycopg2-binary==2.9.6
# uwsgi==2.0.18
uwsgi
requests==2.26.0
boto3